:root {
	/* --link-color: #0051ff; */
	--link-color: #4bd3fc;
	--ext-link-color: #ffd621;
	/* Possible other colors:
	 * rgb(63, 255, 0)
	 * rgb(38, 153, 0)
	 */
	--primary-color: rgb(55, 221, 0);
	--nav-color: #44475A;

	--light-text-color: #282A36;
	--light-background-color: rgb(248, 248, 242);
	--dark-text-color: rgb(248, 248, 242);
	--dark-background-color: #282A36;

	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
}
* {
	box-sizing: border-box;
}

/* DARK/LIGHT THEME
   ================ */
@media (prefers-color-scheme: dark) {
	#color-scheme-auto:checked ~ #page {
		color: var(--text-color);
	}
	#color-scheme-auto:checked ~ #page {
		--text-color: var(--dark-text-color);
		--background-color: var(--dark-background-color);
	}
}

/* Use dark theme if chcked */
#color-scheme-light:checked ~ #page {
	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
}
#color-scheme-dark:checked ~ #page {
	--text-color: var(--dark-text-color);
	--background-color: var(--dark-background-color);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#page {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	/* height: 100%; */
	min-height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
}

#color-scheme-light, #color-scheme-dark, #color-scheme-auto {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

#page > header .color-scheme-list > label {
	margin-left: 3px;
}

#page > header {
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--nav-color);
}

#page > header > div {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: space-between;
	color: var(--dark-text-color);
}

#page > header div.title {
	display: flex;
	align-items: center;
}

#page > header div.title > h1 {
	font-size: x-large;
	font-weight: bold;
	margin: 0.5rem;
}

#page > header nav * {
	color: inherit;
	text-decoration: none;
	font-weight: 800;
	margin-left: 1rem;
}

#page > main {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-top: 2rem;
	padding-bottom: 5rem;
	overflow-x: auto;
}

#page > footer {
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	position: fixed;
	bottom: 0;
	width: 100%;

	color: var(--dark-text-color);
	background-color: var(--nav-color);
}

#page > footer .somelist * {
	color: var(--dark-text-color);
	margin-right: 0.5rem;
	font-weight: 800;
	text-decoration: none;
}

#page > footer > div {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
p {
	margin: 0 0 10px;
}

/* Main content */
#content a, #content a:visited {
	text-decoration: none;
	color: var(--link-color);
}
/* #content > h1:first-child {
	font-size: 42px;
	margin-bottom: 10px;
} */


#content > h1:first-child, #content > h2:first-child, #content > h3:first-child  {
	margin-top: 0;
}
#content code {
	display: inline-block;
	color: rgb(248, 248, 242);
	background-color: rgb(39, 40, 34);
}

#content > a > h3.title {
	color: var(--dark-text-color);
	text-decoration: underline;
}


