{{ define "main" }}
{{ if (eq (len .Pages.ByPublishDate.Reverse) 0) }}
<p>Nothing...</p>
{{ else }}
<h1>{{ .Page.Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<a href="{{ .RelPermalink }}"><h3 class="title">{{ .PublishDate | time.Format "2006-01-02" }} - {{ .Title }}</h3></a>
{{ partial "metadata.html" . }}
<p style="font-style: italic;">{{ .Summary }}</p>
{{ end }}
{{ end }}
{{ end }}
