</main>

<footer>
  <div>
    <div class="somelist">
      <!-- Your social media icons go here -->
      <a href="/git/">Git</a>
      <a href="https://status.0chaos.eu">Status</a>
      <a href="https://www.linkedin.com/in/daniel-florescu-bb98561b7/">LinkedIn</a>
      <a href="https://www.instagram.com/danielf_dk/">Instagram</a>
    </div>
    <span>&copy; 2023 Daniel Florescu</span>

    {{ if not (eq (.Lastmod.Format "2006-01-02") "0001-01-01" ) }}
    <div>
      <span>Last modified: </span>
      <div>
        <span>{{ .Lastmod.Format "2006-01-02" }}</span>
        <span>{{ .Lastmod.Format "-0700" }}</span>
        <span>{{ .Lastmod.Format "15:04:05" }}</span>
        <span>{{ .Lastmod.Format "MST" }}</span>
      </div>
    </div>
    {{ end }}
  </div>
</footer>
</div> <!-- #page -->
