<input type="radio" name="color-scheme" id="color-scheme-light">
<input type="radio" name="color-scheme" id="color-scheme-auto" checked>
<input type="radio" name="color-scheme" id="color-scheme-dark">

<div id="page">
  <header>
    <div>
      <div class="title">
        <h1>{{ .Site.Title }}</h1>
      </div>
      <nav>
        {{ range .Site.Menus.main }}
        {{ if not (eq (urls.Parse (.URL)).Host "") }}
        <a href="{{ .URL }}">{{ print .Name | safeHTML  }}</a>
        {{ else }}
        <a href="{{ .URL }}">{{ print .Name | safeHTML  }}</a>
        {{ end }}
        {{ end }}
      </nav>
      <div class="color-scheme-list">
        <label for="color-scheme-light">☀️</label>
        <span>/</span>
        <label for="color-scheme-auto">Auto</label>
        <span>/</span>
        <label for="color-scheme-dark">🌑</label>
      </div>
    </div>
  </header>
  <main>